/* Team Booking Redesign Style */

/*
    *  SLIDE 1 - ALL SLOTS
*/

        /* Main Container */
        .tb-frontend-calendar {
            background: transparent;
            border-radius: 0px;
        }

                /* Unordered List - Flexbox */
                .tb-frontend-calendar .tbk-slide-canvas ul {
                    display: flex;
                    flex-wrap: wrap; 
                }
                        /* List items*/
                        .tb-frontend-calendar .tbk-slide-canvas ul li{
                            flex: 1 1 33%; /* Make 3 columns (33% each) and allow them to grow/shrink to fit. */
                            display: flex; /* Make the child elements same height */
                            margin-bottom: 15px;
                        }

                                /* Wrapper around the calendar box and details box. */
                                .tb-frontend-calendar .tbk-slide-canvas ul li .tbk-slot-wrapper {
                                    display: flex;
                                    width: 100%;
                                }
                                        /* LEFT Calendar Entry 
                                        * Date & Price
                                        *
                                        */
                                        .tb-frontend-calendar .tbk-slide-canvas ul li .tbk-calendar-date
                                        {
                                            background: #242424;
                                            border: 0px;
                                            border-radius: 0px;
                                            margin: 0px;
                                            padding-top: 10px;
                                            display: flex;
                                            flex-direction: column;
                                        }

                                                .tb-frontend-calendar .tbk-slide-canvas ul li .tbk-calendar-date .tbk-day
                                                {
                                                    color: #FFFFFF !important;
                                                    font-weight: 100;
                                                    margin-bottom: 6px;
                                                }
                                                .tb-frontend-calendar .tbk-slide-canvas ul li .tbk-calendar-date .tbk-month
                                                {
                                                    background: transparent;
                                                }


                                        /* RIGHT calendar Entry - 
                                        * Main Detail Content 
                                        *
                                        */
                                        .tb-frontend-calendar .tbk-slide-canvas ul li .tbk-upcoming-slot 
                                        {
                                            margin: 0px;
                                            color: #FFFFFF;
                                            border: 0px !important;
                                            border-color: transparent;
                                            border-radius: 0px; 
                                            padding: 30px;
                                            cursor: pointer;
                                        }
                                        .tb-frontend-calendar .tbk-slide-canvas ul li .tbk-upcoming-slot:hover 
                                        {
                                            background-color: #242424 !important;
                                            transform: none !important;
                                            outline: none !important;
                                            -webkit-transition: background-color 500ms linear;
                                            -ms-transition: background-color 500ms linear;
                                            transition: background-color 500ms linear;
                                            cursor: pointer;
                                        }
                                                
                                                .tb-frontend-calendar .tbk-slide-canvas ul li .tbk-upcoming-slot svg {
                                                    position: absolute;
                                                    right: 0px;
                                                }
                                                .commandotemple-slot-image {
                                                    position: absolute;
                                                    background-image: url("https://londonparkour.com/wp-content/uploads/2019/03/CommandoTemple-Logo_trans.png");
                                                    background-size:cover;
                                                    top: 0;
                                                    right: 0;
                                                    width: 100px;
                                                    height: 100%;
                                                    background-size: cover;
                                                    opacity: 0.2;
                                                }

                                                .tb-frontend-calendar .tbk-slide-canvas ul li .tbk-upcoming-slot .tbk-alert {
                                                    position: absolute;
                                                    right: 20px;
                                                    bottom: 20px;
                                                    backface-visibility: inherit !important;
                                                }

                                                .tb-frontend-calendar .tbk-slide-canvas ul li .tbk-upcoming-slot .tbk-arrow {
                                                    font-size: 20px;
                                                    backface-visibility: inherit !important;
                                                    color: #ffffff;
                                                    padding: 0px;
                                                    line-height: 20px;
                                                }
                                                

                                                .tb-frontend-calendar .tbk-slide-canvas ul li .tbk-upcoming-slot .tbk-service-name
                                                {
                                                    position: relative;
                                                    z-index: 1;
                                                    font-size: 24px;
                                                    font-weight: 600;
                                                    line-height: 30px;
                                                }
                                                .tb-frontend-calendar .tbk-slide-canvas ul li .tbk-upcoming-slot .tbk-times
                                                {
                                                    display: block;
                                                    z-index: 1;
                                                    position: relative;
                                                    font-family: inherit !important;
                                                    font-weight: 400;
                                                }
                                                .tb-frontend-calendar .tbk-slide-canvas ul li .tbk-upcoming-slot .tbk-location
                                                {
                                                    position: relative;
                                                    z-index: 1;
                                                }

                                                .tb-frontend-calendar .tbk-slide-canvas ul li .tbk-slot-label {
                                                    margin: auto auto 10px;
                                                    padding: 2px 8px;
                                                }

                                                .tb-frontend-calendar .tbk-slide-canvas ul li .tbk-slot-label.green {
                                                    display:none;
                                                }


                                        /* 
                                        * INDOOR 
                                        */
                                        .tb-frontend-calendar .tbk-slide-canvas ul li .slot-parkour-class
                                        {
                                            background-color: #38EF7D;
                                            background: linear-gradient(30deg, #11998E 0%, #38EF7D 100%);
                                        }
                                        .tb-frontend-calendar .tbk-slide-canvas ul li .date-parkour-class .tbk-weekday
                                        {
                                            color: #11998E;
                                        }
                                        .tb-frontend-calendar .tbk-slide-canvas ul li .date-parkour-class .tbk-slot-label-price
                                        {
                                            color: #242424 !important;
                                            background-color: #38EF7D !important;
                                        }



                                        /* 
                                        * OUTDOOR 
                                        */
                                        .tb-frontend-calendar .tbk-slide-canvas ul li .slot-beginner-outdoor
                                        {
                                            background-color: #0093E9;
                                            background: linear-gradient(30deg, #0093E9 0%, #80D0C7 100%);
                                        }
                                        .tb-frontend-calendar .tbk-slide-canvas ul li .date-beginner-outdoor .tbk-weekday
                                        {
                                            color: #0093E9;
                                        }
                                        .tb-frontend-calendar .tbk-slide-canvas ul li .date-beginner-outdoor .tbk-slot-label-price
                                        {
                                            color: #ffffff !important;
                                            background-color: #0093E9 !important;
                                        }


                                        /* 
                                        * YOUTH 
                                        */
                                        .tb-frontend-calendar .tbk-slide-canvas ul li .slot-youth-class-8-12
                                        {
                                            background-color: #5F0A87;
                                            background: linear-gradient(30deg, #5F0A87 0%, #A4508B 100%);
                                        }
                                        .tb-frontend-calendar .tbk-slide-canvas ul li .date-youth-class-8-12 .tbk-weekday
                                        {
                                            color: #A4508B;
                                        }
                                        .tb-frontend-calendar .tbk-slide-canvas ul li .date-youth-class-8-12 .tbk-slot-label-price
                                        {
                                            color: #ffffff !important;
                                            background-color: #5F0A87 !important;
                                        }


                                        /* 
                                        * FREE 
                                        */
                                        .tb-frontend-calendar .tbk-slide-canvas ul li .slot-parkour-free-class
                                        {
                                            background-color: #E86546;
                                            background: linear-gradient(30deg, #E86546 0%, #E34F65 100%);
                                        }
                                        .tb-frontend-calendar .tbk-slide-canvas ul li .date-parkour-free-class .tbk-weekday
                                        {
                                            color: #E86546; 
                                        }
                                        .tb-frontend-calendar .tbk-slide-canvas ul li .date-parkour-free-class .tbk-slot-label-price
                                        {
                                            color: #ffffff !important;
                                            background-color: #E86546 !important;
                                        }


                                        /* 
                                        * PRIVATE 
                                        */
                                        .tb-frontend-calendar .tbk-slide-canvas ul li .slot-private-booking
                                        {
                                            background-color: #FBAB7E;
                                            background: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
                                        }
                                        .tb-frontend-calendar .tbk-slide-canvas ul li .date-private-booking .tbk-weekday
                                        {
                                            color: #FBAB7E;
                                        }
                                        .tb-frontend-calendar .tbk-slide-canvas ul li .date-private-booking .tbk-slot-label-price
                                        {
                                            color: #242424 !important;
                                            background-color: #FBAB7E !important;
                                        }

                                        /* 
                                        * COMMANDOTEMPLE 
                                        */
                                        .tb-frontend-calendar .tbk-slide-canvas ul li .slot-commandotemple-indoor
                                        {
                                            background-color: #D0C8B3;
                                            background: linear-gradient(62deg, #D0C8B3 0%, #797161 100%);
                                        }
                                        .tb-frontend-calendar .tbk-slide-canvas ul li .date-commandotemple-indoor .tbk-weekday
                                        {
                                            color: #D0C8B3;
                                        }
                                        .tb-frontend-calendar .tbk-slide-canvas ul li .date-commandotemple-indoor .tbk-slot-label-price
                                        {
                                            color: #212121 !important;
                                            background-color: #D0C8B3 !important;
                                        }


        /*
         * Show More Button 
         */
        .tb-frontend-calendar .tbk-slide-canvas .tbk-show-more-extended {

            display: block;
        }

        .pulser {
            animation: pulser 2s infinite;
            box-shadow: 0 0 0 rgba(255,255,255, 1);
            border-radius: 20px;
            background: #ffffff;
            color: #242424;
            font-size: 12px;
            padding: 2px 2px 2px 12px;
          }
          .pulser-icon {
              font-size: 20px !important;
          }
          .pulser .pulser-icon {
              color: #242424 !important;
              padding: 2px 4px 2px 6px;
              font-size: 12px !important;
              font-weight: 600;          
          }
          
          @-webkit-keyframes pulser {
            0% {
              -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 1);
            }
            70% {
                -webkit-box-shadow: 0 0 0 20px rgba(255,255,255, 0);
            }
            100% {
                -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
            }
          }
          @keyframes pulser {
            0% {
              -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 1);
              box-shadow: 0 0 0 0 rgba(255,255,255, 1);
            }
            70% {
                -moz-box-shadow: 0 0 0 20px rgba(255,255,255, 0);
                box-shadow: 0 0 0 20px rgba(255,255,255, 0);
            }
            100% {
                -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
                box-shadow: 0 0 0 0 rgba(255,255,255, 0);
            }
          }




/*
   *  SLIDE 2 - SLOT DETAILS
*/

        /* Background of all slides EXCEPT FIRST is dark grey. */
        .tbk-slide-canvas .tbk-slide:not(:nth-child(1)) {
            background-color: #242424;
            color: #fff;
        }    
        
        /* TOP UI Arrows and Title */
        .tbk-slide-canvas .tbk-slide .ui .tbk-grid {
            padding-top: 10px;
        }

        /* Main Container of Details  */
        .tbk-slide-canvas .tbk-reservation-form-container {
            padding-bottom: 10px;
        }/* Team Booking Redesign Style */

        

