//  ┌────────────────────────────────────────────────┐
//  │                Book Now Button                 │
//  └────────────────────────────────────────────────┘
.tbk-book-now {
    max-height: 58px;
    margin-bottom: 29px;
    width: 100%;

    .tbk-book-now-button {
        background-color: #242424 !important;
        margin: 0px;
        border-radius: 0px;
        font-size: 18px;
        line-height: 29px;
        width: 100%;
        height: 58px;
        padding: 0px;
        text-overflow: clip;
    }
} 