&-checkbox {

    margin-top: 29px;
    height: 58px;
    background: #ffffff;

    >label {
        display: none;
    }

    .tbk-field-description {
        line-height: 58px;
        float: left;
        margin-left: 29px;
        font-size: 18px;
    }


    //  ┌────────────────────────────────────────────────┐
    //  │                     WAIVER                     │
    //  └────────────────────────────────────────────────┘
    .tbk-checkbox {

        width: 58px;
        height: 58px;
        float: left;

        //  ┌────────────────────────────────────────────────┐
        //  │              Clickable input box               │
        //  └────────────────────────────────────────────────┘
        input {
            height: 58px;
            width: 58px;
            font-size: 58px;
            line-height: 58px;
        }

        label {
            background: #242424;

            //  ┌────────────────────────────────────────────────┐
            //  │                   Empty Box                    │
            //  └────────────────────────────────────────────────┘
            &:before {
                font-family: "Material Icons";
                height: 58px;
                width: 58px;
                background: #f5f5f5;
                border: 0px; 
                font-size: 58px;
                line-height: 58px;
                content: '\e876';
                color: #ffffff;
            }

            //  ┌────────────────────────────────────────────────┐
            //  │                   Ticked Box                   │
            //  └────────────────────────────────────────────────┘
            &:after {
                font-family: "Material Icons";
                font-size: 58px;
                line-height: 58px;
                content: '\e876';
                color: #242424;
            }
        }
    }

}