&__location {
    text-align: center;
    position: relative;
    float: left;
    width: 100%;
    color: #FFFFFF;
    height: 87px;
    transition: all 0.3s linear;
    cursor: pointer;
    background-image: url('/wp-content/uploads/2019/08/Screenshot-2019-08-31-at-10.31.33.png');

    &:hover {
        background: #242424;
    }

    .cover {
        opacity: 0.8;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        @include classcolours('background-color', '--');
    }  

    a {
        color: #FFFFFF;
        line-height: 87px;
        font-weight: 700;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;

        &::before {
            font-family: "Material Icons";
            content: '\e8b4';
            font-size: 22px;
            vertical-align: sub;
            display: inline-block;
        }
    }
}