//  ┌────────────────────────────────────────────────┐
//  │               RIGHT-SIDE : Form                │
//  └────────────────────────────────────────────────┘
.tbk-service {
    float: left;
    width: 33%;
    background-color: #FFFFFF;
    color: #242424;
    margin: 0px; 
    padding: 58px 3% 58px 3%;
    height: 100%;

    &-description {
        float: left;
        margin: 58px 0px;
        width: 100%;
    }

    //  ┌───────────────────────────────────────────┐ 
    //  │                                           │░
    //  │            Location Map & Link            │░
    //  │                                           │░
    //  └───────────────────────────────────────────┘░
    //   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
    @import "location";

    //  ┌───────────────────────────────────────────┐ 
    //  │                                           │░
    //  │           Not used (price box)            │░
    //  │                                           │░
    //  └───────────────────────────────────────────┘░
    //   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
    @import "price"; 

    @import "commandotemple"; 
    
    //  ┌────────────────────────────────────────────────┐
    //  │                      FORM                      │
    //  └────────────────────────────────────────────────┘
    .tbk-reservation-form {
        
        clear:both;

        //  ┌────────────────────────────────────────────────┐
        //  │                 Custom Fields                  │
        //  └────────────────────────────────────────────────┘
        .tbk-fields {
            display: block;

            .tbk-error {
                background: #e34f65 !important;
            }

            .tbk-field {

                margin:0px 0px 29px 0px; 
                background: #f5f5f5;

                input {
                    height: 58px !important;
                }
                
                //  ┌───────────────────────────────────────────┐ 
                //  │                                           │░
                //  │                 Textboxes                 │░
                //  │                                           │░
                //  └───────────────────────────────────────────┘░
                //   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
                @import "textbox";

                //  ┌───────────────────────────────────────────┐ 
                //  │                                           │░
                //  │              Waiver checkbox              │░
                //  │                                           │░
                //  └───────────────────────────────────────────┘░
                //   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
                @import "checkbox";

            }
        } 
    }


    //  ┌────────────────────────────────────────────────┐
    //  │            Coupon, Tickets & Button            │
    //  └────────────────────────────────────────────────┘
    .tbk-reservation-form-footer {
        border-top: 0px;
        display: block;
        margin: 0px;
        padding: 0px;

        @import "tickets";

        @import "coupons";

        @import "booknow";
    }
}